nav a{
    text-decoration: none;
    color: black;
    margin: 2em;
    font-size: 2em;
}

nav:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

nav:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horizontal-underline{
    position: absolute;
    width: 12%;
    background-color: pink;
    top: 120px;
    left: 140px;
    height: 4px;
    transition: 0.5s;
}
